<div class="container zuopin">
    <h1>作品展示</h1>
    <img src="../images/作品/top.png" alt="" width="100%">
    <main>
        <section>
            <div><img src="../images/作品/01.jpg" alt=""></div>
            <div><img src="../images/作品/02.jpg" alt=""></div>
            <div><img src="../images/作品/03.jpg" alt=""></div>
            <div><img src="../images/作品/04.jpg" alt=""></div>
            <div><img src="../images/作品/05.jpg" alt=""></div>
        </section>
        <section style="margin: 0 10px;">
            <div><img src="../images/作品/06.jpg" alt=""></div>
            <div style="margin: 25px 0;"><img src="../images/作品/07.jpg" alt=""></div>
            <div><img src="../images/作品/08.jpg" alt=""></div>
            <div><img src="../images/作品/09.jpg" alt=""></div>
            <div><img src="../images/作品/10.jpg" alt=""></div>
        </section>
        <section>
            <div><img src="../images/作品/11.jpg" alt=""></div>
            <div><img src="../images/作品/12.jpg" alt=""></div>
            <div><img src="../images/作品/13.jpg" alt=""></div>
            <div><img src="../images/作品/14.jpg" alt=""></div>
            <div><img src="../images/作品/15.jpg" alt=""></div>
        </section>
    </main>
    
</div>